body {
    box-sizing: border-box;
    display: flex;
    min-height: 90vh;
}

.shell {
    display: flex;
    justify-content: center;

    height: 700px;
    max-height: 700px;
    width: 500px;
    max-width: 500px;
    outline: 3px solid black;
    margin: auto;
    border-radius: 5%;
}

.display {
    border: 3px solid gray;
    height: 10%;
    width: 90%;
    margin-top: 4%;
    border-radius: 5%;
    padding: 5px;

    font-size: 55px;
}