body {
    box-sizing: border-box;
    display: flex;
    min-height: 90vh;
}

.shell {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-height: 700px;
    width: 500px;
    min-width: 500px;
    outline: 3px solid black;
    margin: auto;
    border-radius: 5%;
    background-color: rgb(0, 0, 77);
}

.display {
    display: flex;
    border: 3px solid gray;
    background-color: lightgray;
    min-height: 85px;
    width: 90%;
    border-radius: 5%;
    padding: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    font-size: 60px;
    text-wrap: wrap;
    overflow-wrap: anywhere;
}

.row {
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    margin: 10px 0;
    height: 100px;
    max-height: 100px;
}

.btn {
    width: 20%;
    font-size: 60px;
    border-radius: 8%;
    height: 100px;
    max-height: 100px;
    background-color: aliceblue;
}

.clear,
.back {
    width: 44%;
    background-color: rgb(248, 206, 206);
}

.heading {
    margin: 1% 0;
    color: aliceblue;
}