body {
    box-sizing: border-box;
    display: flex;
    min-height: 90vh;
}

.shell {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 700px;
    max-height: 700px;
    width: 500px;
    max-width: 500px;
    outline: 3px solid black;
    margin: auto;
    border-radius: 5%;
}

.display {
    border: 3px solid gray;
    height: 12%;
    min-height: 12%;
    width: 90%;
    margin-top: 4%;
    border-radius: 5%;
    padding: 5px;

    font-size: 60px;
    overflow: hidden;
}

.row {
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    /* border: 2px solid red; */
    margin: 10px 0;
    height: 480px;
}

.btn {
    width: 20%;
    font-size: 60px;
    border-radius: 8%;
}

.clear,
.back {
    width: 44%;
}